@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400&family=Roboto+Condensed:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}

h1,
h4,
p,
a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #28afaf;
  color: #000000;
  border: 1px solid #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.btn-light {
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff;
  padding: 12px 32px;
  font-size: 1rem;
}

.btn:hover {
  background-color: #12cece;
  color: white;
  transition: 0.3s;
}
